<!--Number 1:<input [(ngModel)]="num1" type="number"><br>
Number 2:<input [(ngModel)]="num2" type="number"><br>-->
<table>
    <style>
        table, th, td {
          border:1px solid white;
        }
        </style>
    
 <font color="white"><h1><u><b>VOTING MACHINE</b></u></h1></font>
 <tr>
<th><font color="white"> <h1>BHARTIYA JANATA PARTY </h1> </font></th>
<img src="C:\Users\HP\Downloads\bjp.png" alt="bjp" style="width:50px;height:60px;"> 
<td><button (click)="bjp()">VOTE</button><br></td>

<th><font color="white"> <h1> SHIVSENA</h1></font> </th>
<img src="C:\Users\HP\Downloads\shivsena.png" alt="bjp" style="width:50px;height:60px;">
<td><button (click)="shivsena()">VOTE</button><br></td>

<th><font color="white"><h1> MAHARASHTRA NAVNIRMAN SENA</h1> </font></th>
<img src="C:\Users\HP\Downloads\mns.jpg" alt="bjp" style="width:50px;height:60px;">
<td><button (click)="manase()">VOTE</button><br></td>

<th><font color="white"> <h1>RASHTRAVADI CONGRESS</h1> </font> </th>
<img src="C:\Users\HP\Downloads\rashtra.jfif" alt="bjp" style="width:50px;height:60px;">
<td><button (click)="congress()">VOTE</button><br></td></tr>
</table>
<br> 

<!-- <Username:<input [{ngModel}]="username" type="text"><br>
<Password:<input [{ngmodel}]="password" type="text"><br>
<button (click)="login()">Login</button>
{{result}}
<br> -->