<title>E voting Machine</title>
<div id="form">
    
    <fieldset>
        <h1>E Voting Management System</h1>

        <label>Name:</label>
        <input type="text" name="name" placeholder="Enter Your Name" required><br><br>

        <label>Father Name:</label>
        <input type="text" name="Father Name" placeholder="Enter Your Father Name" required><br><br>
    
        <label>DOB:</label>
        <input type="data" name="dob"  placeholder="DD/MM/YYYY" required><br><br>

        <label>Gender:</label>
        <input type="radio" name="gender" class="g" value="male">Male
        <input type="radio" name="gender" class="g" value="female">Female<br><br>

        <label>Voting No.:</label>
        <input type="text" name="Voting No." placeholder="Enter Your Voting Number" maxlength="15" required><br><br>
    </fieldset>
    <!--<input type="submit" name="register" routerlink="vote"  value="Register">-->
    <button onclick="">Register</button>
   

</div>
